body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px; /* Adjust the font size as needed */
  color: #1e79ba; /* Change the text color to your desired color */
  text-align: center; /* Center the title text horizontally */
  margin-bottom: 20px; /* Add some spacing below the title */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: #dec9fc;
  padding: 30px;
  height: 100vh;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
}

.todo-list {
  background: #88ff8a;
  border-radius: 4px;
  padding: 5px;
  /* Remove max-width: 400px; */
  text-align: center; /* Center the title text */
}

.todo-list h2 {
  font-size: 32px; /* Adjust the font size as needed */
  color: #ffffff; /* Change the text color to white */
  margin: 0; /* Remove default margin */
  padding: 10px 0; /* Add some padding for better spacing */
}


.todo{
  background: #1e79ba;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 50px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
